body {
  width: 100vw;
}

/*typography settings*/
h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: var(--black);
}

h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: var(--black);
  max-width: 24.7222rem;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #87879d;
}

/*buttons*/
button {
  cursor: pointer;
  transition: linear 0.5s;
}

.buttons {
  justify-content: center;
}

.buttons button:nth-of-type(1) {
  width: 10.7222rem;
  background-color: var(--dark-cyan);
  color: var(--white);
  margin-right: .8889rem;
}

.buttons button:nth-of-type(1):hover {
  background-color: #71C0D4;
  transition: linear 0.5s;
}

.buttons button:nth-of-type(2) {
  width: 7.7222rem;
  background-color: var(--dark-purple);
  color: var(--white);
}

.buttons button:nth-of-type(2):hover {
  background-color: #B18BDD;
  transition: linear 0.5s;
}

footer button {
  width: 10.7222rem;
  background-color: var(--dark-purple);
  color: var(--white);
}

footer button:hover {
  background-color: #B18BDD;
  transition: linear 0.5s;
}




/*the hero and sign up section*/

svg:nth-of-type(1) {
  display: block;
  margin: 4.4444rem 0px 3.3889rem;
}

header {
  min-height: 19.8889rem;
  width: 100vw;
  justify-content: center;
}

.mobile-hero {
  display: none;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.mobile-hero img {
  width: 110vw;
}

.splash-text {
  flex: 0 0.5 540px;
  margin: 0 70px;
  text-align: center;
}

.right img {
  position: relative;
  top: 50px;
}

@media (max-width: 920px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .mobile-hero {
    display: flex;
  }
  header {
    flex-direction: column;
    justify-content: start;
  }
  .splash-text {
    flex: 0;
    max-width: 450px;
    align-self: center;
  }
  h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    margin-top: 4rem;
  }

  .buttons {
    margin-top: 1.7778rem;
  }
}

@media (max-width: 760px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .buttons button:nth-of-type(1) {
    margin: 0 0 0.8889rem 0;
  }
}

/*main section*/
.sec1 {
  margin-top: 6.1111rem;
  margin-bottom: 3.5556rem;
}

main {
  align-items: center;
}

.photos {
  display: grid;
  grid-template-columns:
    minmax(39px, 165px) minmax(163.9998px, 280px) minmax(11px, 30px)
    minmax(163.9998px, 280px) minmax(11px, 30px) minmax(163.9998px, 280px) minmax(
      11px,
      30px
    )
    minmax(163.9998px, 280px) minmax(35px, 165px);

  width: 100%;
}

.photos div img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.main-text {
  text-align: center;
  align-items: center;
  margin-top: 2.6667rem;
  max-width: 30rem;
}

.main-text span {
  font-weight: 900;
  font-size: 0.8889rem;
  line-height: 1.4444rem;
  letter-spacing: 0.2222rem;
  text-transform: uppercase;
  color: #4d96a9;
}

@media (max-width: 760px) {
  .photos {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
  }

  h2 {
    font-size: 1.7778rem;
    margin-bottom: .2778rem;
  }

  .main-text {
    margin: 4.4444rem 1.3333rem 0px;
  }

  .sec1 {
    margin-top: 3.5556rem;
    margin-bottom: 3.5556rem;
  }
}

/*footer*/
.sec2 {
  position: relative;
  bottom: -28px;
  z-index: 2;
  margin-top: 4rem;
}

footer {
  height: 17.1111rem;
  width: 100%;
  background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)),
    url(assets/desktop/image-footer.jpg) no-repeat 50%;
  background-size: auto, auto;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
}

footer div:nth-child(1) {
  width: 19.4444rem;
  height: 4.8889rem;
  font-weight: 900;
  font-size: 2.2222rem;
  line-height: 2.4444rem;
  color:  var(--white);
}

footer div:nth-child(2) {
  line-height: 1.4444rem;
  color: var(--white);
  width: 19.4444rem;
}

@media (max-width: 920px) {
  footer {
    height: 23.7778rem;
    background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)),
    url(assets/tablet/image-footer.jpg) no-repeat 50%;
    flex-direction: column;
    background-size: auto, auto;
    background-size: cover;
    text-align: center;
    justify-content: space-around;
  }

  footer div:nth-child(1) {
    margin-top: 3.4rem;
  }

  footer div:nth-child(2) {
    width: auto;
    margin: 0 5.4444rem;
  }

  footer button {
    margin-bottom: 3.6667rem;
  }
}

@media (max-width: 760px) {
  footer {
    height: 23.7778rem;
    background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)),
    url(assets/mobile/image-footer.jpg) no-repeat 50%;
    flex-direction: column;
    background-size: auto, auto;
    background-size: cover;
    text-align: center;
    justify-content: space-around;
  }

  footer div:nth-child(2) {
    margin: 0 1.3333rem;
  }
}

