body {
  width: 100vw;
}

/*typography settings*/
h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: var(--black);
}

h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: var(--black);
  max-width: 24.7222rem;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #87879d;
}

/*the hero and sign up section*/
svg:nth-of-type(1) {
  display: block;
  margin: 4.4444rem 0px 3.3889rem;
}

header {
  min-height: 19.8889rem;
  width: 100vw;
  justify-content: center;
}

.mobile-hero {
  display: none;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.mobile-hero img {
  width: 110vw;
}

.splash-text {
  flex: 0 0.5 540px;
  margin: 0 70px;
  text-align: center;
}

.right img {
  position: relative;
  top: 50px;
}

@media (max-width: 920px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .mobile-hero {
    display: flex;
  }
  header {
    flex-direction: column;
    justify-content: start;
  }
  .splash-text {
    flex: 0;
    max-width: 450px;
    align-self: center;
  }
  h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
  }
}

/*main section*/
.sec1 {
  margin-top: 6.1111rem;
  margin-bottom: 3.5556rem;
}

main {
  align-items: center;
}

.photos {
  display: grid;
  grid-template-columns:
    minmax(39px, 165px) minmax(163.9998px, 280px) minmax(11px, 30px)
    minmax(163.9998px, 280px) minmax(11px, 30px) minmax(163.9998px, 280px) minmax(
      11px,
      30px
    )
    minmax(163.9998px, 280px) minmax(35px, 165px);

  width: 100%;
}

.photos div img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.main-text {
  text-align: center;
  align-items: center;
  margin-top: 2.6667rem;
  max-width: 30rem;
}

.main-text span {
  font-weight: 900;
  font-size: 0.8889rem;
  line-height: 1.4444rem;
  letter-spacing: 0.2222rem;
  text-transform: uppercase;
  color: #4D96A9;
}

@media (max-width: 760px) {
  .photos {
    grid-template-columns: 151px 151px;
    grid-template-rows: 143px 143px;
  }
}

/*footer*/
.sec2 {
  position: relative;
  bottom: -28px;
  z-index: 2;
  margin-top: 4rem;
}

footer {
  height: 308px;
  width: 100%;
  background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)),
    url(assets/desktop/image-footer.jpg) no-repeat 50%;
  background-size: auto, auto;
  background-size: cover;
}
